name: Compare milestone changes Python
on:
  milestone:
    types: [edited]

jobs:
  compare_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
      - name: Check for [skiped] in description
        id: compare_changes
        run: |
          pip install -r python/requirements.txt;
          OUTPUT=$(python python/change_milestone_description_compare_github.py);
          echo result=$OUTPUT >> $GITHUB_OUTPUT;
        env:
          MILESTONE_NUMBER: ${{ github.event.milestone.number }}
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          SENDER: ${{ github.event.sender.login }}
          CHANGES: ${{ github.event.changes.description.from }}
      
    outputs: 
      result: ${{ steps.compare_changes.outputs.result }}
  change_description: 
   runs-on: ubuntu-latest
   needs: compare_changes
   if: needs.compare_changes.outputs.result != 'false'  
   steps: 
    - name: login Jira
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
    - name: find issue key
      uses: atlassian/gajira-find-issue-key@v3
      id: find_issue_key
      with: 
        string: ${{ github.event.milestone.description }}
        
    
      if: ${{ steps.find_issue_key.outputs.issue != '' }} 
    - name: setup python
      uses: actions/setup-python@v4
      with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
    
      if: steps.find_issue_key.outputs.issue != '' 
    - name: change description #uses the Jira api to change the description of the Epic
      run: | # pip install -r python/requirements.txt;
              python python/change_milestone_description_request.py;
      env:
        JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
        ISSUE: ${{ steps.find_issue_key.outputs.issue }}
        DUE_DATE: ${{ github.event.milestone.due_on }}
        NEW_DESCRIPTION: ${{ github.event.milestone.description }}
    
