name: Convert README to PDF

on:
    workflow_dispatch:
permissions: write-all
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - name: convert via pandoc
              uses: docker://pandoc/latex:2.9
              with:
                args: >-  # allows you to break string into multiple lines
                  --standalone
                  --output=README.pdf
                  README.md
                  
            - name: Get latest release
              id: get_release
              uses: actions/github-script@v4
              with:
                script: |
                  const { data } = await github.repos.getLatestRelease({
                      owner: context.repo.owner,
                      repo: context.repo.repo
                  });
                  return { version: data.tag_name };        
            - name: Increment release version
              id: increment_version
              run: echo "::set-output name=version::$(echo ${{ steps.get_release.outputs.version }} | awk -F. '{$NF = $NF + 1;} 1' OFS=.)"

            - name: Create release
              run: |
                gh release create v1.0.0 --title "Release v1.0.0" --notes "Release notes for v1.0.0"
                gh release upload v1.0.0 README.pdf -c
              env:
                GH_TOKEN: ${{ github.token }}
            - name: Commit README.pdf
              run: |
                git config --global user.email "actions@github.com"
                git config --global user.name "Github Actions"
                git add README.pdf
                git commit -m "Add README.pdf"
                git push origin
              
        
