name: Convert README to PDF

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Marp Build (README.pdf)
              uses: docker://marpteam/marp-cli:v1.7.0
              with:
                args: README.md -o build/README.pdf
              env:
                MARP_USER: root:root

        
