name: Convert README to PDF

on:
    workflow_dispatch:
permissions: write-all
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - name: convert via pandoc
              uses: docker://pandoc/latex:2.9
              with:
                args: >-  # allows you to break string into multiple lines
                  --standalone
                  --output=README.pdf
                  README.md
            - name: Increment release version
              id: increment_version
              run: |
                    latest_version=$(gh release list --limit 1 --repo $GITHUB_REPOSITORY --json tag_name | jq -r '.[0].tag_name')
                    next_version=$(echo $latest_version | awk -F. '{$NF = $NF + 1;} 1' OFS=.)
                    echo "::set-output name=version::$next_version"

            - name: Create release
              run: |
                gh release create v${{ steps.increment_version.outputs.version }} --title "Release v${{ steps.increment_version.outputs.version }}" --notes "Release notes for v${{ steps.increment_version.outputs.version }}"
                gh release upload v${{ steps.increment_version.outputs.version }} README.pdf --clobber --exclude-sources
              env:
                GH_TOKEN: ${{ github.token }}
            - name: Commit README.pdf
              run: |
                git config --global user.email "actions@github.com"
                git config --global user.name "Github Actions"
                git add README.pdf
                git commit -m "Add README.pdf"
                git push origin
              
        
