name: Convert README to PDF

on:
    workflow_dispatch:
permissions: write-all
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - name: convert via pandoc
              uses: docker://pandoc/latex:2.9
              with:
                args: >-  # allows you to break string into multiple lines
                  --standalone
                  --output=README.pdf
                  README.md
            - name: Commit README.pdf
              run: |
                git config --global user.email "actions@github.com"
                git config --global user.name "Github Actions"
                git add README.pdf
                git commit -m "Add README.pdf"
                git push origin
        
