name: Convert README to PDF

on:
    workflow_dispatch:
permissions: write-all
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - name: Marp Build (README.pdf)
              uses: docker://marpteam/marp-cli:v1.7.0
              with:
                args: README.md -o README.pdf
              env:
                MARP_USER: root:root
            - name: Commit README.pdf
              run: |
                git config --global user.email "actions@github.com"
                git config --global user.name "Github Actions"
                git add README.pdf
                git commit -m "Add README.pdf"
                git push origin
        
