
#diff <(sed '/---/q' file1.txt) <(sed '/---/q' file2.txt)


name: Compare milestone changes
on:
  milestone:
    types: [edited]

jobs:
  compare_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compare changes
        uses: actions/github-script@v6
        id: compare_changes
        with:
            result-encoding: string
            script: |
                const currentDescription = context.payload.milestone.description;
                const previousDescription = context.payload.changes.description.from;

                // Split the descriptions at the dividing string
                const currentDescriptionSplit = currentDescription.split('[---Jira---]')[0];
                console.log(currentDescriptionSplit);
                const previousDescriptionSplit = previousDescription.split('[---Jira---]')[0];
                console.log(previousDescriptionSplit);

                // Compare the descriptions
                if (currentDescriptionSplit.trim() != previousDescriptionSplit.trim()) {
                    console.log('The descriptions are different');
                    return "true";
                } 
                console.log('The descriptions are the same');
                return "false";
      - name: Get result
        run: echo "${{steps.compare_changes.outputs.result}}"
  change_description:
    runs-on: ubuntu-latest
    needs: compare_changes
    if: needs.compare_changes.outputs.result == true
    steps:
      - name: find issue key
        uses: atlassian/gajira-find-issue-key@v3
        with: ${{ github.event.milestone.description }}
        id: find_issue_key
      - name: change description
        if: steps.find_issue_key.outputs.issue != ''
        run: |
          curl -X PUT \
            -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
            -H "Content-Type: application/json" \
            https://eltakotestinstance.atlassian.net/rest/api/3/issue/${{ steps.find_issue_key.outputs.issue }} \
            -d '{"fields":{"description":"$new_description"}}'
        env: 
          new_description: ${{ github.event.milestone.description }}

    

  


