
#diff <(sed '/---/q' file1.txt) <(sed '/---/q' file2.txt)


name: Compare milestone changes
on:
  milestone:
    types: [edited]

jobs:
  compare_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compare changes
        uses: actions/github-script@v6
        id: compare_changes
        with:
            result-encoding: string
            github-token: ${{ secrets.GITHUB_TOKEN }}
            script: |
                const currentDescription = context.payload.milestone.description;
                const sender = context.payload.sender.login;
                console.log('The edit was made by', sender);
                if (sender === 'GithubJochenS') {
                  console.log('Skipping workflow because the edit was made by', sender);
                  return "false"
                }
                if(currentDescription.includes('[skip]')) {
                  github.rest.issues.updateMilestone({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    milestone_number: context.payload.milestone.number,
                    title: context.payload.milestone.title,
                    description: currentDescription.split('[skip]')[0]
                  });  
                  return "false"
                }
                
                
                const previousDescription = context.payload.changes.description.from;

                // Split the descriptions at the dividing string
                const currentDescriptionSplit = currentDescription.split('[---Jira---]')[0];
                const previousDescriptionSplit = previousDescription.split('[---Jira---]')[0];
                
                // Compare the descriptions
                if (currentDescriptionSplit.trim() != previousDescriptionSplit.trim()) {
                    console.log('The descriptions are different');
                    return currentDescription.split('[---Jira---]')[0];
                } 
                console.log('The descriptions are the same');
                return "false";
            
      
    outputs: 
      result: ${{ steps.compare_changes.outputs.result }}
  change_description: 
   runs-on: ubuntu-latest
   needs: compare_changes
   if: needs.compare_changes.outputs.result != 'false'  
   steps: 
    - name: login Jira
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
    - name: find issue key
      uses: atlassian/gajira-find-issue-key@v3
      with: 
        string: ${{ github.event.milestone.description }}
      id: find_issue_key  
    - name: change description
      if: steps.find_issue_key.outputs.issue != ''
      run: |
        JSON=$(jq -n \
        --arg new_description "${{ needs.compare_changes.outputs.result }}" \
        '{
          "fields": {
            "description": $new_description
          }
        }')
        RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" \
          -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} \
          -X PUT \
          --data "$JSON" \
          -H "Content-Type: application/json" \
          https://eltakotestinstance.atlassian.net/rest/api/2/issue/${{ steps.find_issue_key.outputs.issue }})
        if [ $RESPONSE -ne 204 ]; then
          echo "Error: HTTP status code $RESPONSE"
          exit 1
        fi
    

