
#diff <(sed '/---/q' file1.txt) <(sed '/---/q' file2.txt)


name: Compare milestone changes
on:
  milestone:
    types: [edited]

jobs:
  compare_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compare changes
        uses: actions/github-script@v6
        id: compare_changes
        with:
            result-encoding: string
            script: |
                
                const currentDescription = context.payload.milestone.description;
                const previousDescription = context.payload.changes.description.from;

                // Split the descriptions at the dividing string
                const currentDescriptionSplit = currentDescription.split('[---Jira---]')[0];
                console.log(currentDescriptionSplit);
                const previousDescriptionSplit = previousDescription.split('[---Jira---]')[0];
                console.log(previousDescriptionSplit);

                // Compare the descriptions
                if (currentDescriptionSplit.trim() != previousDescriptionSplit.trim()) {
                    console.log('The descriptions are different');
                    return "true";
                } else {
                    console.log('The descriptions are the same');
                    return "false";
                }
