name: Generate Sphinx Documentation

on:
  push:
    paths:
      - '**.md'

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx m2r2 sphinx_rtd_theme myst_parser sphinxcontrib-mermaid

      - name: Copy markdown files to temp location
        run: |
          mkdir temp
          find . -name "*.md" ! -name "*.marp.md" -exec cp {} temp \;

      - name: Generate index.rst
        run: |
          echo "Indices and tables\n==================\n\n* :ref:`genindex`\n* :ref:`modindex`\n* :ref:`search`\n\n.. toctree::\n   :maxdepth: 2\n   :caption: Contents:\n" > temp/index.rst
         # echo ".. toctree::" > temp/index.rst
         # echo "   :maxdepth: 2" >> temp/index.rst
         # echo "   :caption: Contents:" >> temp/index.rst
          echo "" >> temp/index.rst
          for file in temp/*.md; do
            echo "   $(basename "$file" .md)" >> temp/index.rst
          done
          #echo "\n\nIndices and tables\n==================\n\n* :ref:`genindex`\n* :ref:`modindex`\n* :ref:`search`" >> temp/index.rst

      - name: Generate Sphinx documentation
        run: |
          sphinx-quickstart -q -p "EltakoTestInstance" -a "Jochen" -v "1.0" docs
          cp temp/* docs/
          cp python/conf.py docs/
          sphinx-build -b html docs/ docs/build/
      - name: Commit and push if changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add docs/build/
          if git diff --quiet --cached; then
            echo 'No changes to commit'
          else
            git commit -m "Update Sphinx documentation"
            git push
          fi

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: 'docs/build/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
