on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Jira Example
    steps:
    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: https://eltakotestinstance.atlassian.net/
        JIRA_USER_EMAIL: jochen.saige@auticon.de
        JIRA_API_TOKEN: ATATT3xFfGF0cnFZRJ2owoK0iw4m_z2BHJs7Fg6Wi5XgGLYQNW36xsiG9_2waEmuMGcJZETG3b0hZ99Niczf14j9xNWqOHYuLZdeLUh72YBmdUYrTxRQ-Fej9CAE62fb3Cco06KhV-muEjRtESSsy6zXerHRYosTVqgCKNV7W4vKGYHXtqESbAE=81273468
    - name: Extract branch name
      shell: bash
      run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
      id: extract_branch
    
    - name: Create
      id: create
      uses: atlassian/gajira-create@v3
      with:
        project: ES1
        issuetype: pull request
        summary: Pull request from ${{ github.actor}} in ${{ github.repository }} branch ${{ steps.extract_branch.outputs.branch }}
        description: Automatet issue from a new pull request
        

    - name: Log created issue
      run: echo "Issue ${{ steps.create.outputs.issue }} was created"
