name: Update milestone description

on:
    workflow_dispatch:
        inputs:
            issue_key:
                description: 'Jira issue key'
                required: true
            author:
                description: 'Author'
                required: true
            text:
                description: 'Text'
                required: true

jobs:
    update_description:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
              with:
                python-version: '3.9'
                cache: 'pip' # caching pip dependencies
            - run: |
                    pip install -r python/new_epic_comment_req.txt;
                    python python/new_epic_comment_from_Jira.py;
              env:
                INPUT_ISSUE_KEY: ${{ github.event.inputs.issue_key }}
                INPUT_AUTHOR: ${{ github.event.inputs.author }}
                INPUT_TEXT: ${{ github.event.inputs.text }}
                GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
