name: protect_workflows
on: 
  push:
    paths:
      - '.github/workflows/**'

jobs:
  check_modified_files:
    runs-on: ubuntu-latest
    permissions: write-all
    if: github.event.pusher.name != 'allowed_username'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for modified github action files
        id: check_files
        run: |
                modified_files=false
                for commit in $(git log --pretty=format:%H ${{ github.event.before }}..HEAD); do
                  echo "Checking commit $commit"
                  echo "prevoius commit:"
                  git rev-parse "$commit^"
                  if git diff --name-only $commit^ $commit | grep -qE 'protected_.*\.yml$'; then
                    echo "Found modified protected github workflow files"
                    modified_files=true
                    break
                  fi
                done
                echo "modifiles_files=$modified_files"
                echo "modified_files=$modified_files" >> $GITHUB_OUTPUT
      
      - name: reset commits
        if: steps.check_files.outputs.modified_files == 'true'
        run: |
              git config --global url."https://x-access-token:${{ secrets.PERSONAL_TOKEN }}@github.com/".insteadOf "https://github.com/"
              git reset --hard ${{ github.event.before }}
              git push origin --all --force
    env:
      GH_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
               
        
    